html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 786 * 10);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 500px) {
    font-size: calc(100vw / 500 * 10);
  }
}
body {
  background-color: hsl(226, 43%, 10%);
  min-width: 320px;
  height: 100%;
}
.row {
  margin: 10rem 20rem 8rem 20rem;
}
.blocks {
  background-color: hsl(235, 46%, 20%);
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  color: white;
  border-radius: 10%;
  /* border-top: 3rem solid white;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%; */
}
.text {
  margin-top: 2rem;
  height: 12rem;
}
.fields {
  background-repeat: no-repeat;
  background-position: top -0.5rem right 1rem;
  background-size: 5rem;
  padding-top: 1rem;
}
#profile {
  background-color: hsl(246, 80%, 60%);
  height: 20rem;
}
#menu {
  height: 32rem;
  padding-bottom: 10rem;
}
#work {
  background-color: hsl(15, 100%, 70%);
  background-image: url(../images/icon-work.svg);
}
#exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url(../images/icon-exercise.svg);
}
#play {
  background-color: hsl(195, 74%, 62%);
  background-image: url(../images/icon-play.svg);
}
#social {
  background-color: hsl(264, 64%, 52%);
  background-image: url(../images/icon-social.svg);
}
#study {
  background-color: hsl(348, 100%, 68%);
  background-image: url(../images/icon-study.svg);
}
#self-care {
  background-color: hsl(43, 84%, 65%);
  background-image: url(../images/icon-self-care.svg);
}
/* img {
  height: 3rem;
  width: 3rem;
} */

.photo {
  height: 6rem;
  width: 6rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  margin: 1.5rem 1.5rem;
}

/* Footer */
.attribution {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
