html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 786 * 10);
  }
  @media (max-width: 768px) {
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 500px) {
    font-size: calc(100vw / 500 * 10);
  }
}
body {
  background-color: hsl(226, 43%, 10%);
  min-width: 320px;
  height: 100%;
}
.row {
  /* display: flex;
  justify-content: center; */
  margin: 10rem 20rem 8rem 20rem;
}
.blocks {
  background-color: hsl(246, 80%, 60%);
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  color: white;
}

img {
  height: 6rem;
  width: 6rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  margin: 1.5rem 1.5rem;
}

/* Footer */
.attribution {
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
